# Caches -----------------------------------------------------------------------
**/__pycache__
# Mypy
/.mypy_cache

# Environment -------------------------------------------------------------------------
/.env

# Data -------------------------------------------------------------------------
/data

# Documentation Build ----------------------------------------------------------
/docs/build

# Jupyter Notebooks Checkpoints ------------------------------------------------
.ipynb_checkpoints
